<!DOCTYPE html>
<html>
  <head>
    <title>My EJS Template with Bulma</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div>
            u are not allowed!!1!!!
        </div>
      </div>
    </section>
  </body>
</html>
