doctype html 
html 
    body
        p hola
        a(href='/formNation') Form input
        table
            thead
                tr
                    each header in headers
                        th= header
            tbody
                each item in list
                    tr
                        td= item._id
                        td= item.name
                        td= item.description

