<!DOCTYPE html>
<html>

<head>
    <title>My EJS Template with Bulma</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <form method="post" action="/nation">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input is-info" name="name" type="text" placeholder="e.g. USA">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Description</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input is-info" name="description" type="text" placeholder="Description">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" type="submit">
                                    Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% list.forEach(function(nation){ %>
                        <tr>
                            <td>
                                <%= nation.name %>
                            </td>
                            <td>
                                <%= nation.description %>
                            </td>
                            <td>
                                <div class="buttons are-small">
                                    <button class="button is-warning is-light"
                                        onclick="editNationForm('<%= nation.id %>')">Edit</button>
                                    <button class="button is-danger is-light"
                                        onclick="deleteNation('<%= nation.id %>')">Delete</button>
                                </div></a>
                            </td>
                        </tr>
                        <% })%>
                </tbody>
            </table>

            <script>
                function editNationForm(nationId) {
                    // Create a hidden form to submit the PUT request
                    const form = document.createElement('form');
                    form.setAttribute('method', 'POST');
                    form.setAttribute('action', '/nation/' + nationId + "?_method=GET");
                    const hiddenField = document.createElement('input');
                    hiddenField.setAttribute('type', 'hidden');
                    hiddenField.setAttribute('name', '_method');
                    hiddenField.setAttribute('value', 'PUT');
                    form.appendChild(hiddenField);
                    document.body.appendChild(form);

                    // Submit the form
                    setTimeout(function () {
                        form.submit();
                    }, 100);
                }

                function deleteNation(nationId) {
                    // Create a hidden form to submit the PUT request
                    const form = document.createElement('form');
                    form.setAttribute('method', 'POST');
                    form.setAttribute('action', '/nation/' + nationId + "?_method=DELETE");
                    const hiddenField = document.createElement('input');
                    hiddenField.setAttribute('type', 'hidden');
                    hiddenField.setAttribute('name', '_method');
                    hiddenField.setAttribute('value', 'DELETE');
                    form.appendChild(hiddenField);
                    document.body.appendChild(form);

                    // Submit the form
                    setTimeout(function () {
                        form.submit();
                    }, 100);
                }
            </script>

        </div>
    </section>
</body>

</html>